* {
  box-sizing: border-box;
}


.nava {
  height: 150px;
  padding: 10px;
  color: beige;
  background: #7DA3B8
}
.nava h1{
  color: beige;
  text-align: center;
  vertical-align: center;
}

.Thumbnail {
  display: inline-block;
  float: none;

}
.boxc {
  height: 50px;
  padding: 5px;
  color: beige;
  background: #7DA3B8;
  text-align: center;
}

.boxc p{
  color: beige;
  font-size: smaller;
  text-align: center;
}

.boxa {
  height: 160px;
  padding: 20px;
  color: beige;
  background: #B88051;
  text-align: center;
}
.boxa p{
  color: beige;
  font-size: smaller;
  text-align: center;
}

.boxb {
    height: 160px;
    padding: 20px;
    color: beige;
    background: #7DA3B8;
    text-align: center;
  }


.boxb p{
    color: beige;
    font-size: smaller;
    text-align: center;

}

.boxd{
  height: auto;
  padding: 20 px;
  color: beige;
  background: #B88051;
  text-align: center;
}

.boxd h1{
  color: whitesmoke;
  text-align: center;
  font-size: medium;
}
.boxd p{
  color: beige;
  font-size: 10 px;
  text-align: center;
}

.boxe{
  height: auto;
  padding: 20 px;
  color: beige;
  background: #7DA3B8;
  text-align: center;
}

.boxe h1{
  color: whitesmoke;
  text-align: center;
  font-size: medium;
}
.boxe p{
  color: beige;
  font-size: 10 px;
  text-align: center;

}
